.popular{
  font-family: 'Roboto', serif;
  padding: 100px 0 100px;
}

.wrapper{
  max-width: 1120px;
  margin: 0 auto 0;
  border-bottom: 1px solid #D9D9DE;
  border-bottom-color: #C4C4C4;
  padding-bottom: 82px;
}

.popular__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #1F1E1E;
  text-align: center;
  margin: 0 0 40px;
}

.photo-collage{
  display: grid;
  min-height: 1120px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;
  color: #FFFFFF;
}

.photo-collage__item{
  position: relative;
  padding: 16px 17px 19px 24px;
  display: flex;
  flex-direction: column;
}

.photo-collage__item:nth-child(3),
.photo-collage__item:nth-child(6){
  grid-column: span 2;
  grid-row: span 2;
}

.photo-collage__title{
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
}

.photo-collage__item_small .photo-collage__title{
  font-size: 18px;
  flex: 1 1 auto;
}

.photo-collage__item_big .photo-collage__title{
  font-size: 24px;
}

.photo-collage__price{
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.photo-collage__subtitle p{
  font-size: 16px;
  line-height: 130%;
  margin: 15px 0 0;
}

.photo-collage__item_big .photo-collage__subtitle{
  flex: 1 1 auto;
}

.photo-collage__item:nth-child(1){
  background: url("../img/Rectangle 25.jpg") 50%/cover no-repeat;
}

.photo-collage__item:nth-child(2){
  background: url("../img/Rectangle 44.jpg") 50%/cover no-repeat;
}

.photo-collage__item:nth-child(3){
  background: url("../img/Rectangle 34.jpg") 50%/cover no-repeat;
}

.photo-collage__item:nth-child(4){
  background: url("../img/Rectangle 63.jpg") 50%/cover no-repeat;
}

.photo-collage__item:nth-child(5){
  background: url("../img/Rectangle 64.jpg") 50%/cover no-repeat;
}

.photo-collage__item:nth-child(6){
   background: url("../img/Rectangle 69.jpg") 50%/cover no-repeat;
 }

.photo-collage__item:nth-child(7){
  background: url("../img/Rectangle 65.jpg") 50%/cover no-repeat;
}

.photo-collage__item:nth-child(8){
  background: url("../img/Rectangle 67.jpg") 50%/cover no-repeat;
}

.photo-collage__item:nth-child(9){
  background: url("../img/Rectangle 66.jpg") 50%/cover no-repeat;
}

.photo-collage__item:nth-child(10){
  background: url("../img/Rectangle 68.jpg") 50%/cover no-repeat;
}


